<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{ 'PRICING.HEADER' | translate }}
      </div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li class="mb-2">{{ 'PRICING.BASIC' | translate }} - $9.99/mo</li>
          <li class="mb-2">{{ 'PRICING.PROFESSIONAL' | translate }} - $19.99/mo</li>
          <li>{{ 'PRICING.ENTERPRISE' | translate }} - $29.99/mo</li>
        </ul>
        <p>{{ 'PRICING.DESCRIPTION' | translate }}</p>
        <button class="btn btn-primary">{{ 'PRICING.SELECT_PLAN' | translate }}</button>
      </div>
    </div>
  </div>
</div>
