<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">{{ 'SIGNUP.TITLE' | translate }}</div>
      <div class="card-body">
        <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">{{ 'SIGNUP.NAME' | translate }}</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
          </div>
          <div class="form-group">
            <label for="email">{{ 'SIGNUP.EMAIL' | translate }}</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="form-group">
            <label for="password">{{ 'SIGNUP.PASSWORD' | translate }}</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'SIGNUP.BUTTON' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>